<% include partials/header %>

<div class="ui main container">
  <div class="ui header huge">
    Blog
  </div>
  <div class="ui relaxed divided list">
    <% blogs.forEach((blog) => { %>
      <div class="item">
        <img class="ui small rounded image" src="<%= blog.image %>" alt="blog entry image">
        <div class="content">
          <a class="header" href="/blog/<%=blog.id%>"><%= blog.title %></a>
        <div class="description"><%- blog.body.substring(0,100) %>...</div>
        <a href="/blog/<%=blog.id%>" class="ui small blue button">Details...</a>
        <p><em><%= blog.date.toDateString() %></em></p>
      </div>
    </div>
    <% }); %>

  </div>

</div>

<% include partials/footer %>
